// 共用變數
$color-primary: #AA0601;
$color-secondary: #9F1213;
$color-red-dark: #650300;
$color-bg-1: #FBF2F2;
$color-bg-2: #F2F2F2;

$color-border-1: #DCDCDC;

$color-border-bar: #555555;

$color-block-1: #5F3E2D;
$color-block-2: #B75929;
// color for blog page




// 24/30, 36/54, 64/96
$font-16: 16px;
$font-24: $font-16 * 1.5; //24px
$font-36: $font-24 * 1.5;
$font-64: $font-16 * 4;

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;