header {
    background-color: $color-primary;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include phone {
        flex-wrap: wrap;
        max-width: 100%;
    }

    &-logos {
        @include phone {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__link {
            display: block;
            width: 80px;
            height: 72px;
            @include make-logo("../images/logo-white.png", contain);

            &:hover {
                filter: contrast(50%);
            }
        }

        &__btn {
            display: none;

            span {
                font-size: 40px;
            }

            @include phone {
                display: block;
            }
        }
    }


    &-menu {
        display: flex;
        transition: all 0.6s;

        @include phone {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            overflow: hidden;
            max-height: 0px;
            // z-index: 120;

            li {
                width: 50%;
            }
        }

        li a {
            display: block;
            text-decoration: none;
            @include set-font(20px);
            @include padding-yx(25px, 32px);
            color: white;

            &:hover {
                background: #8f0400;
            }

            @include phone {
                border: 1px solid white;
                text-align: center;
                @include padding-y(12px);
            }
        }

        &.show-menu {
            // display: flex;
            max-height: 200px;
        }
    }
}