// margin bottom
// mb-1: 4px
// mb-md-1: 4px
// mb-sm-1: 4px
// 為避免產生太多，比較特別的尺寸額外定義
@for $i from 1 through 24 {
    .mb-#{$i} {
        margin-bottom: $spacer * $i;
    }
}



@include pad {
    @for $i from 1 through 12 {
        .mb-md-#{$i} {
            margin-bottom: $spacer * $i;
        }
    }
}


@include phone {
    @for $i from 1 through 16 {
        .mb-sm-#{$i} {
            margin-bottom: $spacer * $i;
        }
    }
}

//margin top
// mt-1: 4px
// mt-md-1: 4px
// mt-sm-1: 4px
@for $i from 1 through 24 {
    .mt-#{$i} {
        margin-top: $spacer * $i;
    }
}

@include pad {
    @for $i from 1 through 12 {
        .mt-md-#{$i} {
            margin-top: $spacer * $i;
        }
    }
}

@include phone {
    @for $i from 1 through 16 {
        .mt-sm-#{$i} {
            margin-top: $spacer * $i;
        }
    }
}