.mb-1 {
    margin-bottom: 80px;

    @media (max-width: 992px) {
        margin-bottom: 80px;
    }

    @media (max-width: 767px) {
        margin-bottom: 40px;
    }
}

.mb-store {
    margin-bottom: 16px;

    @media (max-width: 992px) {
        margin-bottom: 16px;
    }

    @media (max-width: 767px) {
        margin-bottom: 8px;
    }
}

.mark-1 {
    color: white;
    background-color: black;
}