.mb-124 {
    margin-bottom: 124px;

    @include pad() {
        margin-bottom: 80px;
    }
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-60 {
    margin-bottom: 60px;

    @include pad() {
        margin-bottom: 24px;
    }
}

.mb-32 {
    margin-bottom: 32px;

    @include pad() {
        margin-bottom: 40px;
    }

    @include pad() {
        margin-bottom: 24px;
    }
}

.mb-16 {
    margin-bottom: 16px;

    @include pad() {
        margin-bottom: 4px;
    }
}

.mb-1 {
    margin-bottom: 80px;

    @media (max-width: 992px) {
        margin-bottom: 80px;
    }

    @media (max-width: 767px) {
        margin-bottom: 40px;
    }
}

.mb-store {
    margin-bottom: 16px;

    @media (max-width: 992px) {
        margin-bottom: 16px;
    }

    @media (max-width: 767px) {
        margin-bottom: 8px;
    }
}

.mark-1 {
    color: white;
    background-color: black;
}

.tab-active {
    border-bottom: 8px solid $color-primary !important;

}

.product-col-4 {
    width: 23%;

    @include pad() {
        width: 46%;
    }

    @include phone() {
        width: 100%;
    }
}

.product-col-3 {
    width: 30%;

    @include pad() {
        width: 46%;
    }

    @include phone() {
        width: 100%;
    }
}