.blog {
    color: black;

    @include phone() {
        max-width: 100%;
    }

    h2 {
        @include set-font(48px, $fw-bold);
        border-left: 8px solid $color-secondary;
        padding-left: 16px;

        @include phone() {
            @include set-font(24px, $fw-bold);
        }
    }

    &-card {
        display: flex;
        gap: 0 24px;

        @include phone() {
            flex-direction: column;
        }

        img {
            width: 49%;
            object-fit: cover;

            @include phone() {
                width: 100%;
            }
        }
    }

    &-body {
        width: 49%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include phone() {
            width: 100%;
        }
    }

    &-subject {
        h3 {
            a {
                @include set-font(32px);
                color: $color-red-dark;

                @include pad() {
                    @include set-font(24px);
                }

                &:hover {
                    filter: brightness(150%);
                }
            }
        }

        p {
            @include set-font(20px);
            color: $color-border-bar;

            @include pad() {
                @include set-font(16px);
                overflow: hidden;
                text-overflow: ellipsis;
            }

            @include phone() {
                display: none;
            }
        }

    }

    &-subtitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include set-font(16px, $fw-medium);

        :first-child {
            @include set-font(20px, $fw-medium);

            @include pad() {
                @include set-font(16px, $fw-medium);
            }
        }
    }

    &__md-more {
        @include pad() {
            display: inline;
            @include set-font(16px);
            color: black;
            text-align: right;

            &:hover {
                color: orange;
            }

        }
    }

    &__more {
        a {
            @include set-font(36px, $fw-black);
            color: $color-red-dark;
            text-align: right;

            @include pad() {
                display: none;
            }

            &:hover {
                filter: brightness(150%);
            }
        }
    }

}