.event {
    &-header__bg {
        background-color: $color-red-dark;
    }

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include phone() {
            max-width: 100%;
            justify-content: space-around;
        }

        &-list {
            display: flex;

            a {
                @include set-font(20px, $fw-bold);
                @include padding-x(24px);

                @include phone() {
                    @include set-font(16px, $fw-bold);
                    @include padding-y(12px);
                }

                &:hover {
                    color: orange;
                }
            }

            li:first-child a {
                padding-left: 0;

                @include phone() {
                    padding-left: 12px;
                }
            }
        }


        &__search {
            @include phone() {
                display: none;
            }

            span {
                font-size: 40px;
                vertical-align: middle;
            }

            &:hover {
                color: orange;
            }
        }

    }

    &-bread {
        @include set-font(16px);
        display: block;

        a {
            color: black;
            display: inline-block;

            &:hover {
                color: orange;
            }
        }

        span {
            color: $color-primary;
        }
    }

    &-tags {
        display: block;
        // color: $color-primary;
        @include set-font(24px, $fw-bold);

        @include phone() {
            @include set-font(16px, $fw-bold);
        }

        a {
            color: $color-primary;
            display: inline-block;

            &:hover {
                color: orange;
            }
        }

        span {
            margin-left: 16px;
        }
    }

    &-subject {
        display: flex;
        gap: 0 24px;
    }

    &-body {
        width: 66%;

        @include pad() {
            width: 75%;
        }

        @include phone() {
            width: 100%;
        }

        h2 {
            @include set-font(48px);

            @include phone() {
                @include set-font(24px);
            }
        }

        small {
            display: block;
            @include set-font(24px, $fw-medium);


            @include phone() {
                margin-bottom: 16px;
            }
        }

    }

    &-list {


        img {
            object-fit: cover;
        }

        p {
            @include set-font(16px);
            color: $color-border-bar;
        }
    }

    &-taglist {
        width: 33%;
        color: $color-primary;

        @include phone() {
            display: none;
        }

        p {
            @include set-font(32px, $fw-bold);
            display: flex;
            align-items: center;
            margin-bottom: 4px;


            @include pad() {
                @include set-font(16px, $fw-bold);
                margin-bottom: 8px;
            }

            span {
                font-size: 48px;
                margin-right: 8px;


                @include pad() {
                    font-size: 16px;
                    margin-right: 2px;
                }
            }
        }

        small {
            display: block;
            @include set-font(24px, $fw-bold);

            margin-bottom: 4px;

            a {
                color: $color-primary;
                display: inline-block;

                &:hover {
                    color: orange;
                }
            }

            span {
                margin-left: 16px;
            }

            @include pad() {
                @include set-font(16px, $fw-bold);
                margin-bottom: 0;

            }
        }
    }

    &-footer {
        @include phone() {
            display: none;
        }
    }

    &-iconlist {
        width: 66%;
        display: flex;
        gap: 0 16px;
        @include set-font(16px, $fw-bold);
        border-bottom: 1px solid #707070;
        padding-bottom: 24px;

        a {

            &:hover {
                color: orange;
                filter: opacity(50%);
            }
        }

        img {
            width: 24px;
            height: 24px;
        }
    }

    &-nav {
        width: 66%;
        display: flex;
        justify-content: space-between;

        a {
            display: flex;
            align-items: center;
            @include set-font(16px);
            @include padding-x(16px);
            color: black;

            font-family: 'Noto Sans TC'; //強制此時只用 noto, 對齊比較順眼

            &:hover {
                color: orange;
            }
        }
    }

}