.faq {
    color: black;

    h2 {
        @include set-font(48px, $fw-bold);
        border-left: 8px solid #9F1213;
        padding-left: 16px;

        @include phone() {
            @include set-font(24px, $fw-bold);
        }
    }

    h3 {
        @include set-font(24px, $fw-bold);
    }

    ul {
        width: 66.6667%;

        @include pad() {
            width: 100%;
        }
    }

    h4 {
        @include set-font(20px, $fw-bold);
    }

    p {
        @include set-font(16px);
    }
}