.faq {
    margin-top: 96px;
    margin-bottom: 80px;
    color: black;

    @include pad() {
        margin-top: 80px;
    }

    @include phone() {
        margin-top: 40px;
        margin-bottom: 64px;
    }


    h2 {
        @include set-font(48px, $fw-bold);
        border-left: 8px solid #9F1213;
        padding-left: 16px;
        margin-bottom: 32px;

        @include phone() {
            @include set-font(24px, $fw-bold);
            margin-bottom: 24px;
        }
    }

    h3 {
        @include set-font(24px, $fw-bold);
        margin-bottom: 24px;

    }

    ul {
        width: 66.6667%;

        @include pad() {
            width: 100%;
        }
    }

    li {
        margin-bottom: 32px;

        @include phone() {
            margin-bottom: 24px;
        }
    }

    h4 {
        @include set-font(20px, $fw-bold);
        margin-bottom: 8px;
    }

    p {
        @include set-font(16px, $fw-regular);
    }
}