// home page

.home-banner {
    height: 787px;
    // height: 100vh;
    @include bk-image("../images/home-header.png", cover);
    display: flex;
    align-items: center;

    @include pad() {
        background-image: url("../images/home-header-sm.png");
    }

    @include phone() {
        height: 396px;
        background-image: url("../images/home-header.png");
    }

    .home-banner__title {
        width: 100%;
        text-align: right;
        color: $color-red-dark;

        p {
            @include set-font(36px)
        }

        h2 {
            @include set-font(64px, $fw-bold)
        }

        a {
            display: inline-block;
            padding: 6px 12px;
            background-color: $color-primary;
            @include set-font(20px, $fw-medium);

            &:hover {
                color: orange;
            }
        }

        @include phone() {

            p {
                @include set-font(16px)
            }

            h2 {
                @include set-font(24px, $fw-bold)
            }
        }
    }
}

.home-expert {
    background-color: #FBF2F2;
    color: #650300;
    @include padding-y(80px);

    @include phone() {
        @include padding-y(40px);
    }

    &__title {
        @include set-font(48px);
        text-align: center;

        @include phone() {
            @include set-font(24px, $fw-bold);
        }
    }

    &__cards {
        display: flex;
        gap: 0 24px;

        @include pad() {
            display: flex;
            flex-wrap: wrap;
            gap: 24px 24px;
        }

        @include phone() {
            gap: 24px 0;
        }
    }

    &__card {
        width: 25%;
        text-align: center;

        @include pad() {
            width: 48%;
        }

        @include phone() {
            width: 100%;
        }

        img {
            width: 100px;
            height: 100px;
        }

        h3 {
            @include set-font(24px, $fw-bold);
        }

        p {
            color: black;
            text-align: left;
        }
    }
}

.home-clasic {
    @include padding-y(80px);

    @include phone() {
        @include padding-y(40px);
    }

    &__title {
        @include set-font(48px);
        color: #650300;
        text-align: center;

        @include phone() {
            @include set-font(24px);
        }
    }

    &__list {
        display: flex;
        gap: 0 24px;
        text-align: center;

        @include pad() {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px 0;
        }
    }

    li {
        @include pad() {
            width: 50%;
        }

        @include phone() {
            width: 100%;
        }
    }

    h3 {
        @include set-font(48px);
        color: $color-primary;
        font-style: italic;
    }

}

.home-partner {
    height: 608px;
    @include bk-image("../images/index-bg.png", cover);
    color: white;
    text-align: center;
    @include padding-y(80px);

    @include pad() {
        height: 960px;
        background-image: url("../images/index-bg-md.png");
    }

    @include phone() {
        height: 820px;
        background-image: url("../images/index-bg-sm.png");
        @include padding-y(40px);
    }

    &__title {
        @include set-font(48px, $fw-bold);

        @include phone() {
            @include set-font(24px, $fw-bold);
        }
    }

    &__list {
        display: flex;

        @include phone() {
            display: flex;
            flex-direction: column;
            gap: 24px 0;
        }

        li {
            width: 50%;

            @include pad() {
                width: 100%;
            }
        }

        h3 {
            @include set-font(48px, $fw-black);
            font-style: italic;
            color: $color-primary;
            @include padding-y(8px);
            background-color: #fff;
        }

        @include pad() {
            flex-direction: column;
            gap: 24px 0;
        }
    }

    &__photo-1 {
        // width: 648px;
        height: 240px;
        @include bk-image("../images/home-section4-1.png", cover);

        @include phone() {
            background-image: url("../images/home-section4-1-sm.png");
        }
    }

    &__photo-2 {
        // width: 648px;
        height: 240px;
        @include bk-image("../images/home-section4-2.png", cover);

        @include phone() {
            background-image: url("../images/home-section4-2-sm.png");
        }
    }
}

.home-recommend {
    @include padding-y(80px);

    @include phone() {
        @include padding-y(40px);
    }

    &__title {
        @include set-font(48px, $fw-bold);
        color: $color-red-dark;
        text-align: center;

        @include phone() {
            @include set-font(24px, $fw-bold);
        }
    }

    &-cards {
        display: flex;
        gap: 0 24px;

        @include pad() {
            flex-wrap: wrap;
            gap: 24px 24px;
        }

        @include phone() {
            gap: 16px 0;
        }
    }

    &-card {
        width: 25%;
        border: 1px solid #DEE2E6;
        border-radius: 4px;
        box-shadow: 0px 2px 6px #00000029;

        @include pad() {
            width: 48%;
        }

        @include phone() {
            width: 100%;
        }

    }
}

.hr-card-body {
    height: 205px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include padding-x(16px);

    &__title {
        p {
            @include set-font(16px);
            color: black;
            text-align: left;
        }

        p:first-child {
            font-weight: 500;
        }
    }

    &__date {
        @include set-font(14px);
        margin-bottom: 16px;
        color: black;
    }
}

.home-contact {
    background-color: $color-bg-1;
    color: black;
    @include padding-y(80px);

    @include phone() {
        @include padding-y(40px);
    }

    &-grid {
        width: 48%;

        @include pad() {
            width: 65%;
        }

        @include phone() {
            width: 96%;
        }
    }

    &__title {
        @include set-font(48px, $fw-bold);
        text-align: center;
        color: #650300;

        @include phone() {
            @include set-font(24px, $fw-bold);
        }
    }

    p {
        @include set-font(20px);

        @include pad() {
            @include set-font(16px);
        }
    }

    &-form {
        display: flex;
        flex-direction: column;
        @include set-font(16px);

        label {
            margin-bottom: 8px;
        }

        input {
            height: 36px;
            margin-bottom: 16px;
            background-color: $color-bg-1;
        }

        textarea {
            margin-bottom: 16px;
            background-color: $color-bg-1;
        }

        input[type=checkbox] {
            background: $color-bg-1;
            width: 22px;
            height: 22px;
            margin: 0 12px 0 0;
            vertical-align: middle;
            position: relative;
            top: -1px;

            @include phone() {
                margin: 0 4px 0 0;
            }
        }

        ::placeholder {
            color: rgba(black, 0.2);
            @include set-font(16px);

            @include padding-yx(6px, 12px)
        }

        button {
            display: block;
            width: 60%;
            align-self: center;
            @include set-font(16px);
            @include padding-y(16px);
            border: none;
            background-color: $color-primary;
            color: white;
            cursor: pointer;
            margin-top: 48px;
            transition-duration: 1s;

            @include phone() {
                width: 96%;
                margin-top: 24px;
            }

            &:hover {
                filter: brightness(120%);
            }
        }
    }
}