.mapsec {
    color: black;

    h2 {
        @include set-font(48px, $fw-bold);
        border-left: 8px solid #9F1213;
        padding-left: 16px;

        @include phone() {
            @include set-font(24px, $fw-bold);
        }
    }

    &-area {
        @include set-font(24px);
        display: flex;
        align-items: center;
        gap: 0 16px;

        @include phone() {
            @include set-font(16px);
            gap: 0 8px;
        }

        select {
            @include set-font(18px);
            border: 1px solid #CED4DA;
            width: 304px;
            height: 38px;
            color: #495057;
            opacity: 0.75;
            @include padding-yx(6px, 12px);

            @include phone() {
                width: 276px;
            }
        }
    }

    &-grid {
        display: flex;
        gap: 0 24px;

        @include pad() {
            flex-direction: column;
            gap: 24px 0;
        }
    }

    &-card {
        width: 42%;

        @include pad() {
            width: 100%;
            display: flex;
            gap: 0 24px;
        }

        @include phone() {
            width: 100%;
            flex-direction: column;
            gap: 0 0;
        }

        img {
            @include pad() {
                width: 50%;
            }

            @include phone() {
                width: 100%;
                height: 224px;
            }
        }

        &__body {
            border: 1px solid #00000020;

            @include pad() {
                width: 50%;
            }

            @include phone() {
                width: 100%;
            }
        }

        &__title {
            @include set-font(24px);
            @include padding-yx(8px, 24px);
            border-bottom: 1px solid #00000020;
        }

        &__contact {
            @include padding-yx(16px, 24px);

            a,
            p {
                color: black;
                @include set-font(20px);
                display: flex;
                align-items: flex-start;

                span {
                    margin-right: 10px;
                }
            }

            a:hover {
                color: orange;
            }
        }

    }
}