/*
  $color: #FBF2F2;
  $color: #AA0601;
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

a {
  display: block;
  text-decoration: none;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}


.fz20-30 {
  font-size: 20px;
  line-height: 30px;
}

.fz36-54 {
  font-size: 36px;
  line-height: 54px;
}

.fz64-96 {
  font-size: 64px;
  line-height: 96px;
}

.fw-medium {
  font-weight: 500;
}

.fw-bold {
  font-weight: 700;
}

.fw-black {
  font-weight: 900;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
}

header {
  background-color: #AA0601;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  display: block;
  width: 80px;
  height: 72px;
  background-image: url("../images/logo-white.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  white-space: nowrap;
  text-indent: 101%;
  overflow: hidden;

  &:hover {
    filter: contrast(50%);
  }
}

.menu {
  display: flex;

  li a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
    padding: 25px 32px;
    color: white;

    &:hover {
      color: orange;
    }
  }
}

//== page-1 ==========
.banner {
  height: 787px;
  // height: 100vh;
  background-image: url("../images/home-header.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  // justify-content: flex-end;
  align-items: center;

  .info {
    width: 100%;
    text-align: right;
    color: #650300;

    p {
      font-size: 36px;
      line-height: 54px;
    }

    h2 {
      font-size: 64px;
      line-height: 96px;
      font-weight: bold;
    }

    a {
      display: inline-block;
      padding: 6px 12px;
      background-color: #AA0601;
    }
  }
}

.expert {
  background-color: #FBF2F2;
  color: #650300;
  padding-top: 80px;
  padding-bottom: 80px;

  .title {
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 24px;
    text-align: center;
  }

  .cards {
    display: flex;
    gap: 0 24px;
  }

  .card {
    width: 25%;
    text-align: center;

    img {
      width: 100px;
      height: 100px;
      margin-bottom: 16px;
    }

    h3 {
      font-size: 24px;
      line-height: 36px;
      font-weight: bold;
      margin-bottom: 8px;
    }

    p {
      color: black;
    }
  }
}

.clasic {
  padding-top: 80px;
  padding-bottom: 80px;

  .title {
    font-size: 48px;
    line-height: 72px;
    color: #650300;
    text-align: center;
    margin-bottom: 48px;
  }

  .list {
    display: flex;
    gap: 0 24px;
    text-align: center;
  }

  img {
    margin-bottom: 8px;
  }

  h3 {
    font-size: 48px;
    line-height: 72px;
    color: #AA0601;
  }

}

.unite {
  height: 608px;
  background-image: url("../images/index-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;

  .title {
    font-size: 48px;
    line-height: 72px;
    font-weight: bold;
    margin-bottom: 48px;
  }

  .list {
    display: flex;

    li {
      width: 50%;
    }

    .photo-1 {
      // width: 648px;
      height: 240px;
      background-image: url("../images/home-section4-1.png");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }

    .photo-2 {
      // width: 648px;
      height: 240px;
      background-image: url("../images/home-section4-2.png");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }

    h3 {
      font-size: 48px;
      line-height: 72px;
      font-weight: 900;
      font-style: italic;
      color: #AA0601;
      padding-top: 8px;
      padding-bottom: 8px;
      background-color: #fff;
    }
  }
}

.recommend {
  padding-top: 80px;
  padding-bottom: 80px;

  .title {
    font-size: 48px;
    line-height: 72px;
    font-weight: bold;
    color: #650300;
    text-align: center;
    margin-bottom: 48px;
  }

  .cards {
    display: flex;
    gap: 0 24px;
  }

  .card {
    width: 25%;

    border: 1px solid #DEE2E6;
    border-radius: 4px;
    box-shadow: 0px 2px 6px #00000029;

    img {
      margin-bottom: 16px;
    }

    .date {
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 16px;
      color: black;
    }
  }

  .card-body {
    height: 205px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;

    .title {
      p {
        font-size: 16px;
        line-height: 24px;
        color: black;
        font-weight: 400;
        text-align: left;
        margin-bottom: 8px;
      }

      p:first-child {
        font-weight: 500;

      }

    }
  }
}

.contactus {
  background-color: #FBF2F2;
  color: black;
  padding-top: 80px;
  padding-bottom: 80px;

  .content {
    width: 48%;
  }

  .title {
    font-size: 48px;
    line-height: 72px;
    font-weight: bold;
    margin-bottom: 48px;
    text-align: center;
    color: #650300;
  }

  p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 24px;
  }

  .form {
    display: flex;
    flex-direction: column;

    label {
      font-weight: 400;
      margin-bottom: 8px;
    }

    input {
      height: 36px;
      margin-bottom: 16px;
      background-color: #FBF2F2;
    }

    textarea {
      margin-bottom: 16px;
      background-color: #FBF2F2;
    }

    .privacy-ck {
      // display: flex;
      // align-items: center;
      font-size: 16px;
      line-height: 24px;

    }

    input[type=checkbox] {
      background: #FBF2F2;
      width: 22px;
      height: 22px;
      margin: 0 12px 0 0;
      vertical-align: middle;
      position: relative;
      top: -1px;

    }

    ::placeholder {
      color: rgba(black, 0.2);
      font-size: 16px;
      line-height: 24px;
      padding-left: 12px;
    }

    button {
      display: block;
      width: 60%;
      align-self: center;
      font-size: 16px;
      line-height: 24px;
      padding-top: 16px;
      padding-bottom: 16px;
      background-color: #AA0601;
      color: white;
      margin-top: 48px;
    }
  }
}

//== footer ==========

footer {
  background-color: #AA0601;
}

.footer {
  padding-top: 36px;

}

.menu-bm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 24px 0px;
}

.menu-small {
  width: 65%;
  display: flex;
  margin-left: -24px;

  a {
    padding: 12px 24px;

    &:hover {
      color: orange;
    }
  }
}

.social {
  width: 35%;
  display: flex;
  justify-content: flex-end;

  img {
    width: 48px;
    height: 48px;
  }

  a {
    color: white;
    padding-left: 32px;

    &:hover {
      filter: brightness(50%);
    }
  }
}

.contact {
  margin-bottom: 32px;

  li a {
    font-size: 36px;
    line-height: 54px;

    display: flex;
    align-items: center;

    &:hover {
      color: orange;
    }
  }

  span {
    font-size: 36px;
    margin-right: 20px;
  }
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  border-top: 1px solid white;

  ul {
    display: flex;
    justify-content: space-between;

    li {
      font-size: 14px;
      line-height: 21px;
      margin-left: 48px;
    }

    a:hover {
      color: orange;
    }
  }
}

// ============ 992px tablet =====================
@media(max-width: 992px) {
  .container {
    max-width: 720px;
  }

  .menu-small {
    width: 75%;

    a {
      padding: 8px 24px;
    }
  }

  .social {
    width: 25%;

    img {
      width: 40px;
      height: 40px;
    }

    a {
      padding: 0px 8px;
    }
  }

  .banner {
    // height: 792px;
    // height: 100vh;
    background-image: url("../images/home-header-sm.png");

  }

  .expert {
    .cards {
      display: flex;
      flex-wrap: wrap;
      gap: 24px 24px;
    }

    .card {
      width: 48%;

    }
  }


  .clasic {
    padding-top: 80px;
    padding-bottom: 80px;

    .list {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px 0;
    }

    li {
      width: 50%;
    }
  }

  .unite {
    height: 960px;
    background-image: url("../images/index-bg-md.png");
    // background-size: cover;
    // background-position: 50% 20%;
    // background-repeat: no-repeat;
    // text-align: center;
    // padding-top: 80px;
    // padding-bottom: 80px;

    // .title {
    //   font-size: 48px;
    //   line-height: 72px;
    //   font-weight: bold;
    //   margin-bottom: 48px;
    // }

    .list {
      // display: flex; 
      flex-direction: column;
      gap: 24px 0;

      li {
        width: 100%;
      }

      // .photo-1 {
      //   height: 240px;
      //   background-image: url("../images/home-section4-1.png");
      //   background-size: cover;
      //   background-position: center center;
      //   background-repeat: no-repeat;
      // }

      // .photo-2 {
      //   height: 240px;
      //   background-image: url("../images/home-section4-2.png");
      //   background-size: cover;
      //   background-position: center center;
      //   background-repeat: no-repeat;
      // }

      // h3 {
      // font-size: 48px;
      // line-height: 72px;
      // font-weight: 900;
      // font-style: italic;
      // color: #AA0601;
      // padding-top: 8px;
      // padding-bottom: 8px;
      // background-color: #fff;
      // }
    }
  }

  .recommend {
    // padding-top: 80px;
    // padding-bottom: 80px;

    // .title {
    //   font-size: 48px;
    //   line-height: 72px;
    //   font-weight: bold;
    //   color: #650300;
    //   text-align: center;
    //   margin-bottom: 48px;
    // }

    .cards {
      // display: flex;
      flex-wrap: wrap;
      gap: 24px 24px;
    }

    .card {
      width: 48%;
      // border: 1px solid #DEE2E6;
      // border-radius: 4px;
      // box-shadow: 0px 2px 6px #00000029;

      // img {
      //   margin-bottom: 16px;
      // }

      // .date {
      //   font-size: 14px;
      //   line-height: 21px;
      //   margin-bottom: 16px;
      //   color: black;
      // }
    }

    // .card-body {
    // height: 205px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // padding-left: 16px;
    // padding-right: 16px;

    // .title {
    //   p {
    //     font-size: 16px;
    //     line-height: 24px;
    //     color: black;
    //     text-align: left;
    //     font-weight: 400;
    //     margin-bottom: 8px;
    //   }

    //   p:first-child {
    //     font-weight: 500;
    //   }
    // }
    // }
  }

  .contactus {
    // background-color: #FBF2F2;
    // color: black;
    // padding-top: 80px;
    // padding-bottom: 80px;

    .content {
      width: 65%;
    }

    // .title {
    // font-size: 48px;
    // line-height: 72px;
    // font-weight: bold;
    // margin-bottom: 48px;
    // text-align: center;
    // color: #650300;
    // }

    p {
      font-size: 16px;
      line-height: 24px;
      // font-weight: 400;
      // margin-bottom: 24px;
    }

    // .form {
    // display: flex;
    // flex-direction: column;

    // label {
    //   font-weight: 400;
    //   margin-bottom: 8px;
    // }

    // input {
    //   height: 36px;
    //   margin-bottom: 16px;
    //   background-color: #FBF2F2;
    // }

    // textarea {
    //   margin-bottom: 16px;
    //   background-color: #FBF2F2;
    // }

    // .privacy-ck {
    //   font-size: 16px;
    //   line-height: 24px;

    // }

    // input[type=checkbox] {
    //   background: #FBF2F2;
    //   width: 22px;
    //   height: 22px;
    //   margin: 0 12px 0 0;
    //   vertical-align: middle;
    //   position: relative;
    //   top: -1px;
    // }

    // ::placeholder {
    //   color: rgba(black, 0.2);
    //   font-size: 16px;
    //   line-height: 24px;
    //   padding-left: 12px;
    // }

    // button {
    //   display: block;
    //   width: 60%;
    //   align-self: center;
    //   font-size: 16px;
    //   line-height: 24px;
    //   padding-top: 16px;
    //   padding-bottom: 16px;
    //   background-color: #AA0601;
    //   color: white;
    //   margin-top: 48px;
    // }
    // }
  }
}

// =========== 767 phone ========================
@media(max-width: 767px) {
  .container {
    max-width: 372px;
  }

  .header {
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;

  }

  .logo {
    align-self: center;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;

    li {
      width: 50%;
      border: 1px solid white;
    }

    li a {
      font-size: 20px;
      line-height: 30px;
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
    }
  }


  .unite {
    height: 820px;
    background-image: url("../images/index-bg-sm.png");
    // background-size: cover;
    // background-position: center center;
    // background-repeat: no-repeat;
    // text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;

    .title {
      font-size: 24px;
      line-height: 36px;
      // font-weight: bold;
      margin-bottom: 24px;
    }

    .list {
      display: flex;
      flex-direction: column;
      gap: 24px 0;

      .photo-1 {
        // height: 240px;
        background-image: url("../images/home-section4-1-sm.png");
        // background-size: cover;
        // background-position: center center;
        // background-repeat: no-repeat;

      }

      .photo-2 {
        // height: 240px;
        background-image: url("../images/home-section4-2-sm.png");
        // background-size: cover;
        // background-position: center center;
        // background-repeat: no-repeat;
      }

      // h3 {
      // font-size: 48px;
      // line-height: 72px;
      // font-weight: 900;
      // font-style: italic;
      // color: #AA0601;
      // padding-top: 8px;
      // padding-bottom: 8px;
      // background-color: #fff;
      // }
    }
  }

  // == page 1 ============
  .banner {
    height: 396px;
    background-image: url("../images/home-header.png");

    .info {
      width: 100%;
      text-align: right;
      color: #650300;

      p {
        font-size: 16px;
        line-height: 24px;
      }

      h2 {
        font-size: 24px;
        line-height: 36px;
        font-weight: bold;
      }

    }
  }

  .expert {
    padding-top: 40px;
    padding-bottom: 40px;

    .title {
      font-size: 24px;
      line-height: 36px;
      font-weight: bold;
      margin-bottom: 24px;
    }

    .cards {
      // display: flex;
      // flex-wrap: wrap;
      gap: 24px 0;
    }

    .card {
      width: 100%;
    }
  }

  .clasic {
    padding-top: 40px;
    padding-bottom: 40px;

    .title {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 24px;
    }

    li {
      width: 100%;
    }
  }


  .recommend {
    padding-top: 40px;
    padding-bottom: 40px;

    .title {
      font-size: 24px;
      line-height: 36px;
      // font-weight: bold;
      // color: #650300;
      // text-align: center;
      margin-bottom: 24px;
    }

    .cards {
      // display: flex;
      gap: 16px 0;
    }

    .card {
      width: 100%;

      // border: 1px solid #DEE2E6;
      // border-radius: 4px;
      // box-shadow: 0px 2px 6px #00000029;

      // img {
      //   margin-bottom: 16px;
      // }

      // .date {
      //   font-size: 14px;
      //   line-height: 21px;
      //   margin-bottom: 16px;
      //   color: black;
      // }
    }

    // .card-body {
    //   height: 205px;
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: space-between;
    //   padding-left: 16px;
    //   padding-right: 16px;

    //   .title {
    //     p {
    //       font-size: 16px;
    //       line-height: 24px;
    //       color: black;
    //       margin-bottom: 8px;
    //       font-weight: 400;
    //     }

    //     p:first-child {
    //       font-weight: 500;
    //       text-align: left;
    //     }

    //   }
    // }
  }


  .contactus {
    // background-color: #FBF2F2;
    // color: black;
    padding-top: 40px;
    padding-bottom: 40px;

    .content {
      width: 96%;
    }

    .title {
      font-size: 24px;
      line-height: 36px;
      // font-weight: bold;
      margin-bottom: 24px;
      // text-align: center;
      // color: #650300;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      // font-weight: 400;
      // margin-bottom: 24px;
    }

    .form {
      // display: flex;
      // flex-direction: column;

      // label {
      //   font-weight: 400;
      //   margin-bottom: 8px;
      // }

      // input {
      //   height: 36px;
      //   margin-bottom: 16px;
      //   background-color: #FBF2F2;
      // }

      // textarea {
      //   margin-bottom: 16px;
      //   background-color: #FBF2F2;
      // }

      // .privacy-ck {
      //   font-size: 16px;
      //   line-height: 24px;

      // }

      input[type=checkbox] {
        //   background: #FBF2F2;
        //   width: 22px;
        //   height: 22px;
        margin: 0 4px 0 0;
        //   vertical-align: middle;
        //   position: relative;
        //   top: -1px;

      }

      // ::placeholder {
      //   color: rgba(black, 0.2);
      //   font-size: 16px;
      //   line-height: 24px;
      //   padding-left: 12px;
      // }

      button {
        // display: block;
        width: 96%;
        // align-self: center;
        // font-size: 16px;
        // line-height: 24px;
        // padding-top: 16px;
        // padding-bottom: 16px;
        // background-color: #AA0601;
        // color: white;
        margin-top: 24px;
      }
    }
  }

  // == footer ============
  .footer {
    max-width: 100%;
    margin: 0;
    padding-top: 24px;
  }

  .menu-bm {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }

  .menu-small {
    display: none;
  }

  .social {
    width: 50%;

    img {
      width: 24px;
      height: 24px;
    }

    a {
      padding: 0px 8px;
    }
  }

  .contact {
    width: 50%;
    margin-bottom: 24px;

    li a {
      font-size: 16px;
      line-height: 24px;
    }

    span {
      font-size: 20px;
      margin-right: 10px;
    }
  }

  .copyright {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 16px;
    padding-bottom: 24px;
    border-top: 1px solid white;
    gap: 8px 0;

    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px 0;

      li {
        font-size: 14px;
        line-height: 21px;
        margin-left: 0;
      }
    }
  }

}