/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: black; }

a {
  display: block;
  text-decoration: none;
  color: white; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px; }
  @media (max-width: 992px) {
    .container {
      max-width: 720px;
      margin: 0 auto;
      padding-left: 12px;
      padding-right: 12px; } }
  @media (max-width: 767px) {
    .container {
      max-width: 372px;
      margin: 0 auto;
      padding-left: 12px;
      padding-right: 12px; } }

.mb-1 {
  margin-bottom: 4px; }

.mb-2 {
  margin-bottom: 8px; }

.mb-3 {
  margin-bottom: 12px; }

.mb-4 {
  margin-bottom: 16px; }

.mb-5 {
  margin-bottom: 20px; }

.mb-6 {
  margin-bottom: 24px; }

.mb-7 {
  margin-bottom: 28px; }

.mb-8 {
  margin-bottom: 32px; }

.mb-9 {
  margin-bottom: 36px; }

.mb-10 {
  margin-bottom: 40px; }

.mb-11 {
  margin-bottom: 44px; }

.mb-12 {
  margin-bottom: 48px; }

.mb-13 {
  margin-bottom: 52px; }

.mb-14 {
  margin-bottom: 56px; }

.mb-15 {
  margin-bottom: 60px; }

.mb-16 {
  margin-bottom: 64px; }

.mb-17 {
  margin-bottom: 68px; }

.mb-18 {
  margin-bottom: 72px; }

.mb-19 {
  margin-bottom: 76px; }

.mb-20 {
  margin-bottom: 80px; }

.mb-21 {
  margin-bottom: 84px; }

.mb-22 {
  margin-bottom: 88px; }

.mb-23 {
  margin-bottom: 92px; }

.mb-24 {
  margin-bottom: 96px; }

@media (max-width: 992px) {
  .mb-md-1 {
    margin-bottom: 4px; }
  .mb-md-2 {
    margin-bottom: 8px; }
  .mb-md-3 {
    margin-bottom: 12px; }
  .mb-md-4 {
    margin-bottom: 16px; }
  .mb-md-5 {
    margin-bottom: 20px; }
  .mb-md-6 {
    margin-bottom: 24px; }
  .mb-md-7 {
    margin-bottom: 28px; }
  .mb-md-8 {
    margin-bottom: 32px; }
  .mb-md-9 {
    margin-bottom: 36px; }
  .mb-md-10 {
    margin-bottom: 40px; }
  .mb-md-11 {
    margin-bottom: 44px; }
  .mb-md-12 {
    margin-bottom: 48px; } }

@media (max-width: 767px) {
  .mb-sm-1 {
    margin-bottom: 4px; }
  .mb-sm-2 {
    margin-bottom: 8px; }
  .mb-sm-3 {
    margin-bottom: 12px; }
  .mb-sm-4 {
    margin-bottom: 16px; }
  .mb-sm-5 {
    margin-bottom: 20px; }
  .mb-sm-6 {
    margin-bottom: 24px; }
  .mb-sm-7 {
    margin-bottom: 28px; }
  .mb-sm-8 {
    margin-bottom: 32px; }
  .mb-sm-9 {
    margin-bottom: 36px; }
  .mb-sm-10 {
    margin-bottom: 40px; }
  .mb-sm-11 {
    margin-bottom: 44px; }
  .mb-sm-12 {
    margin-bottom: 48px; }
  .mb-sm-13 {
    margin-bottom: 52px; }
  .mb-sm-14 {
    margin-bottom: 56px; }
  .mb-sm-15 {
    margin-bottom: 60px; }
  .mb-sm-16 {
    margin-bottom: 64px; } }

.mt-1 {
  margin-top: 4px; }

.mt-2 {
  margin-top: 8px; }

.mt-3 {
  margin-top: 12px; }

.mt-4 {
  margin-top: 16px; }

.mt-5 {
  margin-top: 20px; }

.mt-6 {
  margin-top: 24px; }

.mt-7 {
  margin-top: 28px; }

.mt-8 {
  margin-top: 32px; }

.mt-9 {
  margin-top: 36px; }

.mt-10 {
  margin-top: 40px; }

.mt-11 {
  margin-top: 44px; }

.mt-12 {
  margin-top: 48px; }

.mt-13 {
  margin-top: 52px; }

.mt-14 {
  margin-top: 56px; }

.mt-15 {
  margin-top: 60px; }

.mt-16 {
  margin-top: 64px; }

.mt-17 {
  margin-top: 68px; }

.mt-18 {
  margin-top: 72px; }

.mt-19 {
  margin-top: 76px; }

.mt-20 {
  margin-top: 80px; }

.mt-21 {
  margin-top: 84px; }

.mt-22 {
  margin-top: 88px; }

.mt-23 {
  margin-top: 92px; }

.mt-24 {
  margin-top: 96px; }

@media (max-width: 992px) {
  .mt-md-1 {
    margin-top: 4px; }
  .mt-md-2 {
    margin-top: 8px; }
  .mt-md-3 {
    margin-top: 12px; }
  .mt-md-4 {
    margin-top: 16px; }
  .mt-md-5 {
    margin-top: 20px; }
  .mt-md-6 {
    margin-top: 24px; }
  .mt-md-7 {
    margin-top: 28px; }
  .mt-md-8 {
    margin-top: 32px; }
  .mt-md-9 {
    margin-top: 36px; }
  .mt-md-10 {
    margin-top: 40px; }
  .mt-md-11 {
    margin-top: 44px; }
  .mt-md-12 {
    margin-top: 48px; } }

@media (max-width: 767px) {
  .mt-sm-1 {
    margin-top: 4px; }
  .mt-sm-2 {
    margin-top: 8px; }
  .mt-sm-3 {
    margin-top: 12px; }
  .mt-sm-4 {
    margin-top: 16px; }
  .mt-sm-5 {
    margin-top: 20px; }
  .mt-sm-6 {
    margin-top: 24px; }
  .mt-sm-7 {
    margin-top: 28px; }
  .mt-sm-8 {
    margin-top: 32px; }
  .mt-sm-9 {
    margin-top: 36px; }
  .mt-sm-10 {
    margin-top: 40px; }
  .mt-sm-11 {
    margin-top: 44px; }
  .mt-sm-12 {
    margin-top: 48px; }
  .mt-sm-13 {
    margin-top: 52px; }
  .mt-sm-14 {
    margin-top: 56px; }
  .mt-sm-15 {
    margin-top: 60px; }
  .mt-sm-16 {
    margin-top: 64px; } }

.pagebar {
  color: #555555; }
  .pagebar-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .pagebar-list li {
      border: 1px solid #555555; }
      .pagebar-list li a {
        padding: 12px 16px;
        font-size: 18px;
        line-height: 1.5;
        font-weight: 400;
        color: black; }
        @media (max-width: 767px) {
          .pagebar-list li a {
            padding: 10px 12px;
            font-size: 16px;
            line-height: 1.5;
            font-weight: 400; } }
        .pagebar-list li a:hover {
          background-color: orange !important; }
    .pagebar-list li:last-child a {
      background-color: #F2F2F2; }

.mark-1 {
  color: white !important;
  background-color: black !important; }

.tab-active {
  border-bottom: 8px solid #AA0601 !important; }

.product-col-4 {
  width: 23%; }
  @media (max-width: 992px) {
    .product-col-4 {
      width: 46%; } }
  @media (max-width: 767px) {
    .product-col-4 {
      width: 100%; } }

.product-col-3 {
  width: 30%; }
  @media (max-width: 992px) {
    .product-col-3 {
      width: 46%; } }
  @media (max-width: 767px) {
    .product-col-3 {
      width: 100%; } }

header {
  background-color: #AA0601; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 767px) {
    .header {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      max-width: 100%; } }
  @media (max-width: 767px) {
    .header-logos {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .header-logos__link {
    display: block;
    width: 80px;
    height: 72px;
    background-image: url("../images/logo-white.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden; }
    .header-logos__link:hover {
      -webkit-filter: contrast(50%);
              filter: contrast(50%); }
  .header-logos__btn {
    display: none; }
    .header-logos__btn span {
      font-size: 40px; }
    @media (max-width: 767px) {
      .header-logos__btn {
        display: block; } }
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s; }
    @media (max-width: 767px) {
      .header-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        overflow: hidden;
        max-height: 0px; }
        .header-menu li {
          width: 50%; } }
    .header-menu li a {
      display: block;
      text-decoration: none;
      font-size: 20px;
      line-height: 1.5;
      font-weight: 400;
      padding: 25px 32px;
      color: white; }
      .header-menu li a:hover {
        background: #8f0400; }
      @media (max-width: 767px) {
        .header-menu li a {
          border: 1px solid white;
          text-align: center;
          padding-top: 12px;
          padding-bottom: 12px; } }
    .header-menu.show-menu {
      max-height: 200px; }

footer {
  background-color: #AA0601; }

.footer {
  padding-top: 36px;
  color: white; }
  @media (max-width: 767px) {
    .footer {
      max-width: 100%;
      margin: 0;
      padding-top: 24px; } }
  .footer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 24px 0px; }
    @media (max-width: 767px) {
      .footer-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; } }
  .footer-menu {
    width: 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -24px; }
    .footer-menu a {
      padding: 12px 24px; }
      .footer-menu a:hover {
        color: orange; }
    @media (max-width: 992px) {
      .footer-menu {
        width: 75%; }
        .footer-menu a {
          padding: 8px 24px; } }
    @media (max-width: 767px) {
      .footer-menu {
        display: none; } }
  .footer-social {
    width: 35%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .footer-social img {
      width: 48px;
      height: 48px; }
    .footer-social a {
      color: white;
      padding-left: 32px; }
      .footer-social a:hover {
        -webkit-filter: brightness(50%);
                filter: brightness(50%); }
    @media (max-width: 992px) {
      .footer-social {
        width: 25%; }
        .footer-social img {
          width: 40px;
          height: 40px; }
        .footer-social a {
          padding: 0px 8px; } }
    @media (max-width: 767px) {
      .footer-social {
        width: 50%; }
        .footer-social img {
          width: 24px;
          height: 24px; } }
  .footer-contact li a {
    font-size: 36px;
    line-height: 1.5;
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer-contact li a:hover {
      color: orange; }
  .footer-contact span {
    font-size: 36px;
    margin-right: 20px; }
  @media (max-width: 767px) {
    .footer-contact {
      width: 50%; }
      .footer-contact li a {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400; }
      .footer-contact span {
        font-size: 20px;
        margin-right: 10px; } }
  .footer-copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    border-top: 1px solid white; }
    .footer-copyright ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .footer-copyright ul li {
        font-size: 14px;
        line-height: 1.5;
        font-weight: 400;
        margin-left: 48px; }
      .footer-copyright ul a:hover {
        color: orange; }
    @media (max-width: 767px) {
      .footer-copyright {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        gap: 8px 0;
        padding-top: 16px;
        padding-bottom: 24px; }
        .footer-copyright ul {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: start;
              -ms-flex-align: start;
                  align-items: flex-start;
          gap: 8px 0; }
          .footer-copyright ul li {
            margin-left: 0; } }

.home-banner {
  height: 787px;
  background-image: url("../images/home-header.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 992px) {
    .home-banner {
      background-image: url("../images/home-header-sm.png"); } }
  @media (max-width: 767px) {
    .home-banner {
      height: 396px;
      background-image: url("../images/home-header.png"); } }
  .home-banner .home-banner__title {
    width: 100%;
    text-align: right;
    color: #650300; }
    .home-banner .home-banner__title p {
      font-size: 36px;
      line-height: 1.5;
      font-weight: 400; }
    .home-banner .home-banner__title h2 {
      font-size: 64px;
      line-height: 1.5;
      font-weight: 700; }
    .home-banner .home-banner__title a {
      display: inline-block;
      padding: 6px 12px;
      background-color: #AA0601;
      font-size: 20px;
      line-height: 1.5;
      font-weight: 500; }
      .home-banner .home-banner__title a:hover {
        color: orange; }
    @media (max-width: 767px) {
      .home-banner .home-banner__title p {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400; }
      .home-banner .home-banner__title h2 {
        font-size: 24px;
        line-height: 1.5;
        font-weight: 700; } }

.home-expert {
  background-color: #FBF2F2;
  color: #650300;
  padding-top: 80px;
  padding-bottom: 80px; }
  @media (max-width: 767px) {
    .home-expert {
      padding-top: 40px;
      padding-bottom: 40px; } }
  .home-expert__title {
    font-size: 48px;
    line-height: 1.5;
    font-weight: 400;
    text-align: center; }
    @media (max-width: 767px) {
      .home-expert__title {
        font-size: 24px;
        line-height: 1.5;
        font-weight: 700; } }
  .home-expert__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0 24px; }
    @media (max-width: 992px) {
      .home-expert__cards {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        gap: 24px 24px; } }
    @media (max-width: 767px) {
      .home-expert__cards {
        gap: 24px 0; } }
  .home-expert__card {
    width: 25%;
    text-align: center; }
    @media (max-width: 992px) {
      .home-expert__card {
        width: 48%; } }
    @media (max-width: 767px) {
      .home-expert__card {
        width: 100%; } }
    .home-expert__card img {
      width: 100px;
      height: 100px; }
    .home-expert__card h3 {
      font-size: 24px;
      line-height: 1.5;
      font-weight: 700; }
    .home-expert__card p {
      color: black;
      text-align: left; }

.home-clasic {
  padding-top: 80px;
  padding-bottom: 80px; }
  @media (max-width: 767px) {
    .home-clasic {
      padding-top: 40px;
      padding-bottom: 40px; } }
  .home-clasic__title {
    font-size: 48px;
    line-height: 1.5;
    font-weight: 400;
    color: #650300;
    text-align: center; }
    @media (max-width: 767px) {
      .home-clasic__title {
        font-size: 24px;
        line-height: 1.5;
        font-weight: 400; } }
  .home-clasic__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0 24px;
    text-align: center; }
    @media (max-width: 992px) {
      .home-clasic__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 24px 0; } }
  @media (max-width: 992px) {
    .home-clasic li {
      width: 50%; } }
  @media (max-width: 767px) {
    .home-clasic li {
      width: 100%; } }
  .home-clasic h3 {
    font-size: 48px;
    line-height: 1.5;
    font-weight: 400;
    color: #AA0601;
    font-style: italic; }

.home-partner {
  height: 608px;
  background-image: url("../images/index-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px; }
  @media (max-width: 992px) {
    .home-partner {
      height: 960px;
      background-image: url("../images/index-bg-md.png"); } }
  @media (max-width: 767px) {
    .home-partner {
      height: 820px;
      background-image: url("../images/index-bg-sm.png");
      padding-top: 40px;
      padding-bottom: 40px; } }
  .home-partner__title {
    font-size: 48px;
    line-height: 1.5;
    font-weight: 700; }
    @media (max-width: 767px) {
      .home-partner__title {
        font-size: 24px;
        line-height: 1.5;
        font-weight: 700; } }
  .home-partner__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 767px) {
      .home-partner__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 24px 0; } }
    .home-partner__list li {
      width: 50%; }
      @media (max-width: 992px) {
        .home-partner__list li {
          width: 100%; } }
    .home-partner__list h3 {
      font-size: 48px;
      line-height: 1.5;
      font-weight: 900;
      font-style: italic;
      color: #AA0601;
      padding-top: 8px;
      padding-bottom: 8px;
      background-color: #fff; }
    @media (max-width: 992px) {
      .home-partner__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 24px 0; } }
  .home-partner__photo-1 {
    height: 240px;
    background-image: url("../images/home-section4-1.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
    @media (max-width: 767px) {
      .home-partner__photo-1 {
        background-image: url("../images/home-section4-1-sm.png"); } }
  .home-partner__photo-2 {
    height: 240px;
    background-image: url("../images/home-section4-2.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
    @media (max-width: 767px) {
      .home-partner__photo-2 {
        background-image: url("../images/home-section4-2-sm.png"); } }

.home-recommend {
  padding-top: 80px;
  padding-bottom: 80px; }
  @media (max-width: 767px) {
    .home-recommend {
      padding-top: 40px;
      padding-bottom: 40px; } }
  .home-recommend__title {
    font-size: 48px;
    line-height: 1.5;
    font-weight: 700;
    color: #650300;
    text-align: center; }
    @media (max-width: 767px) {
      .home-recommend__title {
        font-size: 24px;
        line-height: 1.5;
        font-weight: 700; } }
  .home-recommend-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0 24px; }
    @media (max-width: 992px) {
      .home-recommend-cards {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        gap: 24px 24px; } }
    @media (max-width: 767px) {
      .home-recommend-cards {
        gap: 16px 0; } }
  .home-recommend-card {
    width: 25%;
    border: 1px solid #DEE2E6;
    border-radius: 4px;
    -webkit-box-shadow: 0px 2px 6px #00000029;
            box-shadow: 0px 2px 6px #00000029; }
    @media (max-width: 992px) {
      .home-recommend-card {
        width: 48%; } }
    @media (max-width: 767px) {
      .home-recommend-card {
        width: 100%; } }

.hr-card-body {
  height: 205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px; }
  .hr-card-body__title p {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: black;
    text-align: left; }
  .hr-card-body__title p:first-child {
    font-weight: 500; }
  .hr-card-body__date {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 16px;
    color: black; }

.home-contact {
  background-color: #FBF2F2;
  color: black;
  padding-top: 80px;
  padding-bottom: 80px; }
  @media (max-width: 767px) {
    .home-contact {
      padding-top: 40px;
      padding-bottom: 40px; } }
  .home-contact-grid {
    width: 48%; }
    @media (max-width: 992px) {
      .home-contact-grid {
        width: 65%; } }
    @media (max-width: 767px) {
      .home-contact-grid {
        width: 96%; } }
  .home-contact__title {
    font-size: 48px;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
    color: #650300; }
    @media (max-width: 767px) {
      .home-contact__title {
        font-size: 24px;
        line-height: 1.5;
        font-weight: 700; } }
  .home-contact p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400; }
    @media (max-width: 992px) {
      .home-contact p {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400; } }
  .home-contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400; }
    .home-contact-form label {
      margin-bottom: 8px; }
    .home-contact-form input {
      height: 36px;
      margin-bottom: 16px;
      background-color: #FBF2F2; }
    .home-contact-form textarea {
      margin-bottom: 16px;
      background-color: #FBF2F2; }
    .home-contact-form input[type=checkbox] {
      background: #FBF2F2;
      width: 22px;
      height: 22px;
      margin: 0 12px 0 0;
      vertical-align: middle;
      position: relative;
      top: -1px; }
      @media (max-width: 767px) {
        .home-contact-form input[type=checkbox] {
          margin: 0 4px 0 0; } }
    .home-contact-form ::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.2);
      font-size: 16px;
      line-height: 1.5;
      font-weight: 400;
      padding: 6px 12px; }
    .home-contact-form ::-moz-placeholder {
      color: rgba(0, 0, 0, 0.2);
      font-size: 16px;
      line-height: 1.5;
      font-weight: 400;
      padding: 6px 12px; }
    .home-contact-form :-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.2);
      font-size: 16px;
      line-height: 1.5;
      font-weight: 400;
      padding: 6px 12px; }
    .home-contact-form ::-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.2);
      font-size: 16px;
      line-height: 1.5;
      font-weight: 400;
      padding: 6px 12px; }
    .home-contact-form ::placeholder {
      color: rgba(0, 0, 0, 0.2);
      font-size: 16px;
      line-height: 1.5;
      font-weight: 400;
      padding: 6px 12px; }
    .home-contact-form button {
      display: block;
      width: 60%;
      -ms-flex-item-align: center;
          align-self: center;
      font-size: 16px;
      line-height: 1.5;
      font-weight: 400;
      padding-top: 16px;
      padding-bottom: 16px;
      border: none;
      background-color: #AA0601;
      color: white;
      cursor: pointer;
      margin-top: 48px;
      -webkit-transition-duration: 1s;
           -o-transition-duration: 1s;
              transition-duration: 1s; }
      @media (max-width: 767px) {
        .home-contact-form button {
          width: 96%;
          margin-top: 24px; } }
      .home-contact-form button:hover {
        -webkit-filter: brightness(120%);
                filter: brightness(120%); }

.optical-tab {
  font-size: 32px;
  line-height: 1.5;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center; }
  @media (max-width: 992px) {
    .optical-tab {
      max-width: 100%;
      margin: 0;
      padding: 0;
      font-size: 24px;
      line-height: 1.5;
      font-weight: 500; } }
  @media (max-width: 767px) {
    .optical-tab {
      font-size: 16px;
      line-height: 1.5;
      font-weight: 500; } }
  .optical-tab a {
    width: 33.33333%;
    color: black;
    padding-top: 24px;
    padding-bottom: 24px;
    border: 1px solid #DCDCDC; }
    @media (max-width: 992px) {
      .optical-tab a {
        padding-top: 16px;
        padding-bottom: 16px; } }

.optical-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .optical-banner__img1 {
    width: 50%;
    -o-object-fit: cover;
       object-fit: cover; }
  .optical-banner__img2 {
    width: 50%;
    -o-object-fit: cover;
       object-fit: cover; }
  @media (max-width: 992px) {
    .optical-banner__img1 {
      width: 50%;
      -o-object-fit: fill;
         object-fit: fill; }
    .optical-banner__img2 {
      width: 50%;
      -o-object-fit: fill;
         object-fit: fill; } }

.optical-product {
  color: black;
  text-align: center; }
  .optical-product__name {
    font-size: 42px;
    line-height: 1.5;
    font-weight: 500; }
    @media (max-width: 767px) {
      .optical-product__name {
        font-size: 24px;
        line-height: 1.5;
        font-weight: 500; } }
  .optical-product__ctname {
    font-size: 32px;
    line-height: 1.5;
    font-weight: 400; }
    @media (max-width: 767px) {
      .optical-product__ctname {
        font-size: 24px;
        line-height: 1.5;
        font-weight: 500; } }
  .optical-product-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 80px 24px; }
    @media (max-width: 992px) {
      .optical-product-list {
        gap: 40px 24px; } }
  .optical-product-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .optical-product-item p {
      width: 50%;
      font-size: 24px;
      line-height: 1.5;
      font-weight: 400;
      color: #AA0601;
      text-align: right; }
    .optical-product-item h3 {
      width: 50%;
      font-size: 24px;
      line-height: 1.5;
      font-weight: 400;
      color: black;
      text-align: left; }
  .optical-product-color {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .optical-product-color a {
      width: 24px;
      height: 24px;
      background-color: #B75929;
      border-radius: 4px;
      margin-right: 8px;
      text-indent: 101%;
      overflow: hidden; }
      .optical-product-color a:hover {
        -webkit-filter: brightness(150%);
                filter: brightness(150%); }
      .optical-product-color a:first-child {
        background-color: #5F3E2D; }

.store {
  color: black; }
  .store h2 {
    font-size: 48px;
    line-height: 1.5;
    font-weight: 700;
    border-left: 8px solid #9F1213;
    padding-left: 16px; }
    @media (max-width: 767px) {
      .store h2 {
        font-size: 24px;
        line-height: 1.5;
        font-weight: 700; } }
  .store-area {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0 16px; }
    @media (max-width: 767px) {
      .store-area {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
        gap: 0 8px; } }
    .store-area select {
      font-size: 18px;
      line-height: 1.5;
      font-weight: 400;
      border: 1px solid #CED4DA;
      width: 304px;
      height: 38px;
      color: #495057;
      opacity: 0.75;
      padding: 6px 12px;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      background-image: url("../images/arrow_drop_down.png");
      background-position-x: 100%;
      background-position-y: 50%;
      background-repeat: no-repeat;
      background-color: white; }
      @media (max-width: 767px) {
        .store-area select {
          width: 276px; } }
  .store-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 48px 24px; }
    @media (max-width: 992px) {
      .store-list {
        gap: 24px 24px; } }
  .store-card {
    width: 30%;
    border: 1px solid #00000020; }
    @media (max-width: 992px) {
      .store-card {
        width: 48%; } }
    @media (max-width: 767px) {
      .store-card {
        width: 100%; } }
    .store-card__title {
      font-size: 24px;
      line-height: 1.5;
      font-weight: 400;
      padding: 8px 24px;
      border-bottom: 1px solid #00000020; }
    .store-card-body {
      padding: 16px 24px; }
      .store-card-body a,
      .store-card-body p {
        color: black;
        font-size: 20px;
        line-height: 1.5;
        font-weight: 400;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; }
        .store-card-body a span,
        .store-card-body p span {
          margin-right: 10px; }
      .store-card-body a:hover {
        color: orange; }
  .store__btn {
    text-align: center;
    font-size: 19px;
    line-height: 1.5;
    font-weight: 400;
    padding-top: 16px;
    padding-bottom: 16px;
    border: 1px solid #00000020;
    background-color: black; }
    .store__btn:hover {
      opacity: 0.7; }

.mapsec {
  color: black; }
  .mapsec h2 {
    font-size: 48px;
    line-height: 1.5;
    font-weight: 700;
    border-left: 8px solid #9F1213;
    padding-left: 16px; }
    @media (max-width: 767px) {
      .mapsec h2 {
        font-size: 24px;
        line-height: 1.5;
        font-weight: 700; } }
  .mapsec-area {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0 16px; }
    @media (max-width: 767px) {
      .mapsec-area {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
        gap: 0 8px; } }
    .mapsec-area select {
      font-size: 18px;
      line-height: 1.5;
      font-weight: 400;
      border: 1px solid #CED4DA;
      width: 304px;
      height: 38px;
      color: #495057;
      opacity: 0.75;
      padding: 6px 12px; }
      @media (max-width: 767px) {
        .mapsec-area select {
          width: 276px; } }
  .mapsec-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0 24px; }
    @media (max-width: 992px) {
      .mapsec-grid {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 24px 0; } }
  .mapsec-card {
    width: 42%; }
    @media (max-width: 992px) {
      .mapsec-card {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 0 24px; } }
    @media (max-width: 767px) {
      .mapsec-card {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 0 0; } }
    @media (max-width: 992px) {
      .mapsec-card img {
        width: 50%; } }
    @media (max-width: 767px) {
      .mapsec-card img {
        width: 100%;
        height: 224px; } }
    .mapsec-card__body {
      border: 1px solid #00000020; }
      @media (max-width: 992px) {
        .mapsec-card__body {
          width: 50%; } }
      @media (max-width: 767px) {
        .mapsec-card__body {
          width: 100%; } }
    .mapsec-card__title {
      font-size: 24px;
      line-height: 1.5;
      font-weight: 400;
      padding: 8px 24px;
      border-bottom: 1px solid #00000020; }
    .mapsec-card__contact {
      padding: 16px 24px; }
      .mapsec-card__contact a,
      .mapsec-card__contact p {
        color: black;
        font-size: 20px;
        line-height: 1.5;
        font-weight: 400;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; }
        .mapsec-card__contact a span,
        .mapsec-card__contact p span {
          margin-right: 10px; }
      .mapsec-card__contact a:hover {
        color: orange; }

.faq {
  color: black; }
  .faq h2 {
    font-size: 48px;
    line-height: 1.5;
    font-weight: 700;
    border-left: 8px solid #9F1213;
    padding-left: 16px; }
    @media (max-width: 767px) {
      .faq h2 {
        font-size: 24px;
        line-height: 1.5;
        font-weight: 700; } }
  .faq h3 {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 700; }
  .faq ul {
    width: 66.6667%; }
    @media (max-width: 992px) {
      .faq ul {
        width: 100%; } }
  .faq h4 {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700; }
  .faq p {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400; }

.blog {
  color: black; }
  @media (max-width: 767px) {
    .blog {
      max-width: 100%; } }
  .blog h2 {
    font-size: 48px;
    line-height: 1.5;
    font-weight: 700;
    border-left: 8px solid #9F1213;
    padding-left: 16px; }
    @media (max-width: 767px) {
      .blog h2 {
        font-size: 24px;
        line-height: 1.5;
        font-weight: 700; } }
  .blog-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0 24px; }
    @media (max-width: 767px) {
      .blog-card {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .blog-card img {
      width: 49%;
      -o-object-fit: cover;
         object-fit: cover; }
      @media (max-width: 767px) {
        .blog-card img {
          width: 100%; } }
  .blog-body {
    width: 49%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 767px) {
      .blog-body {
        width: 100%; } }
  .blog-subject h3 a {
    font-size: 32px;
    line-height: 1.5;
    font-weight: 400;
    color: #650300; }
    @media (max-width: 992px) {
      .blog-subject h3 a {
        font-size: 24px;
        line-height: 1.5;
        font-weight: 400; } }
    .blog-subject h3 a:hover {
      -webkit-filter: brightness(150%);
              filter: brightness(150%); }
  .blog-subject p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    color: #555555; }
    @media (max-width: 992px) {
      .blog-subject p {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
        overflow: hidden;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis; } }
    @media (max-width: 767px) {
      .blog-subject p {
        display: none; } }
  .blog-subtitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500; }
    .blog-subtitle :first-child {
      font-size: 20px;
      line-height: 1.5;
      font-weight: 500; }
      @media (max-width: 992px) {
        .blog-subtitle :first-child {
          font-size: 16px;
          line-height: 1.5;
          font-weight: 500; } }
  @media (max-width: 992px) {
    .blog__md-more {
      display: inline;
      font-size: 16px;
      line-height: 1.5;
      font-weight: 400;
      color: black;
      text-align: right; }
      .blog__md-more:hover {
        color: orange; } }
  .blog__more a {
    font-size: 36px;
    line-height: 1.5;
    font-weight: 900;
    color: #650300;
    text-align: right; }
    @media (max-width: 992px) {
      .blog__more a {
        display: none; } }
    .blog__more a:hover {
      -webkit-filter: brightness(150%);
              filter: brightness(150%); }

.event-header__bg {
  background-color: #650300; }

.event-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 767px) {
    .event-header {
      max-width: 100%;
      -ms-flex-pack: distribute;
          justify-content: space-around; } }
  .event-header-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .event-header-list a {
      font-size: 20px;
      line-height: 1.5;
      font-weight: 700;
      padding-left: 24px;
      padding-right: 24px; }
      @media (max-width: 767px) {
        .event-header-list a {
          font-size: 16px;
          line-height: 1.5;
          font-weight: 700;
          padding-top: 12px;
          padding-bottom: 12px; } }
      .event-header-list a:hover {
        color: orange; }
    .event-header-list li:first-child a {
      padding-left: 0; }
      @media (max-width: 767px) {
        .event-header-list li:first-child a {
          padding-left: 12px; } }
  @media (max-width: 767px) {
    .event-header__search {
      display: none; } }
  .event-header__search span {
    font-size: 40px;
    vertical-align: middle; }
  .event-header__search:hover {
    color: orange; }

.event-bread {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  display: block; }
  .event-bread a {
    color: black;
    display: inline-block; }
    .event-bread a:hover {
      color: orange; }
  .event-bread span {
    color: #AA0601; }

.event-tags {
  display: block;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 700; }
  @media (max-width: 767px) {
    .event-tags {
      font-size: 16px;
      line-height: 1.5;
      font-weight: 700; } }
  .event-tags a {
    color: #AA0601;
    display: inline-block; }
    .event-tags a:hover {
      color: orange; }
  .event-tags span {
    margin-left: 16px; }

.event-subject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 24px; }

.event-body {
  width: 66%; }
  @media (max-width: 992px) {
    .event-body {
      width: 75%; } }
  @media (max-width: 767px) {
    .event-body {
      width: 100%; } }
  .event-body h2 {
    font-size: 48px;
    line-height: 1.5;
    font-weight: 400; }
    @media (max-width: 767px) {
      .event-body h2 {
        font-size: 24px;
        line-height: 1.5;
        font-weight: 400; } }
  .event-body small {
    display: block;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 500; }
    @media (max-width: 767px) {
      .event-body small {
        margin-bottom: 16px; } }

.event-list img {
  -o-object-fit: cover;
     object-fit: cover; }

.event-list p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #555555; }

.event-taglist {
  width: 33%;
  color: #AA0601; }
  @media (max-width: 767px) {
    .event-taglist {
      display: none; } }
  .event-taglist p {
    font-size: 32px;
    line-height: 1.5;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 4px; }
    @media (max-width: 992px) {
      .event-taglist p {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 700;
        margin-bottom: 8px; } }
    .event-taglist p span {
      font-size: 48px;
      margin-right: 8px; }
      @media (max-width: 992px) {
        .event-taglist p span {
          font-size: 16px;
          margin-right: 2px; } }
  .event-taglist small {
    display: block;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 4px; }
    .event-taglist small a {
      color: #AA0601;
      display: inline-block; }
      .event-taglist small a:hover {
        color: orange; }
    .event-taglist small span {
      margin-left: 16px; }
    @media (max-width: 992px) {
      .event-taglist small {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 700;
        margin-bottom: 0; } }

@media (max-width: 767px) {
  .event-footer {
    display: none; } }

.event-iconlist {
  width: 66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 16px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  border-bottom: 1px solid #707070;
  padding-bottom: 24px; }
  .event-iconlist a:hover {
    color: orange;
    -webkit-filter: opacity(50%);
            filter: opacity(50%); }
  .event-iconlist img {
    width: 24px;
    height: 24px; }

.event-nav {
  width: 66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .event-nav a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    padding-left: 16px;
    padding-right: 16px;
    color: black;
    font-family: 'Noto Sans TC'; }
    .event-nav a:hover {
      color: orange; }

/*# sourceMappingURL=all.css.map */
