/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: white; }

a {
  display: block;
  text-decoration: none;
  color: white; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px; }
  @media (max-width: 992px) {
    .container {
      max-width: 720px;
      margin: 0 auto;
      padding-left: 12px;
      padding-right: 12px; } }
  @media (max-width: 767px) {
    .container {
      max-width: 372px;
      margin: 0 auto;
      padding-left: 12px;
      padding-right: 12px; } }

header {
  background-color: #AA0601; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 767px) {
    .header {
      max-width: 100%;
      margin: 0;
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch; }
      .header__logo-holder {
        -ms-flex-item-align: center;
            align-self: center; } }
  .header__logo {
    display: block;
    width: 80px;
    height: 72px;
    background-image: url("../images/logo-white.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden; }
    .header__logo:hover {
      -webkit-filter: contrast(50%);
              filter: contrast(50%); }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header__menu li a {
      display: block;
      text-decoration: none;
      font-size: 20px;
      line-height: 1.5;
      font-weight: 400;
      padding: 25px 32px;
      color: white; }
      .header__menu li a:hover {
        color: orange; }
    @media (max-width: 767px) {
      .header__menu {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        .header__menu li {
          width: 50%;
          border: 1px solid white; }
          .header__menu li a {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: center; } }

footer {
  background-color: #AA0601; }

.footer {
  padding-top: 36px; }
  @media (max-width: 767px) {
    .footer {
      max-width: 100%;
      margin: 0;
      padding-top: 24px; } }
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 24px 0px; }
    @media (max-width: 767px) {
      .footer__nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; } }
  .footer__menu {
    width: 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -24px; }
    .footer__menu a {
      padding: 12px 24px; }
      .footer__menu a:hover {
        color: orange; }
    @media (max-width: 992px) {
      .footer__menu {
        width: 75%; }
        .footer__menu a {
          padding: 8px 24px; } }
    @media (max-width: 767px) {
      .footer__menu {
        display: none; } }
  .footer__social {
    width: 35%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .footer__social img {
      width: 48px;
      height: 48px; }
    .footer__social a {
      color: white;
      padding-left: 32px; }
      .footer__social a:hover {
        -webkit-filter: brightness(50%);
                filter: brightness(50%); }
    @media (max-width: 992px) {
      .footer__social {
        width: 25%; }
        .footer__social img {
          width: 40px;
          height: 40px; }
        .footer__social a {
          padding: 0px 8px; } }
    @media (max-width: 767px) {
      .footer__social {
        width: 50%; }
        .footer__social img {
          width: 24px;
          height: 24px; } }
  .footer__contact {
    margin-bottom: 32px; }
    .footer__contact li a {
      font-size: 36px;
      line-height: 1.5;
      font-weight: 400;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .footer__contact li a:hover {
        color: orange; }
    .footer__contact span {
      font-size: 36px;
      margin-right: 20px; }
    @media (max-width: 767px) {
      .footer__contact {
        width: 50%;
        margin-bottom: 24px; }
        .footer__contact li a {
          font-size: 16px;
          line-height: 1.5;
          font-weight: 400; }
        .footer__contact span {
          font-size: 20px;
          margin-right: 10px; } }
  .footer__copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    border-top: 1px solid white; }
    .footer__copyright ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .footer__copyright ul li {
        font-size: 14px;
        line-height: 1.5;
        font-weight: 400;
        margin-left: 48px; }
      .footer__copyright ul a:hover {
        color: orange; }
    @media (max-width: 767px) {
      .footer__copyright {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        padding-top: 16px;
        padding-bottom: 24px;
        gap: 8px 0; }
        .footer__copyright ul {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: start;
              -ms-flex-align: start;
                  align-items: flex-start;
          gap: 8px 0; }
          .footer__copyright ul li {
            margin-left: 0; } }

.home-banner {
  height: 787px;
  background-image: url("../images/home-header.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 992px) {
    .home-banner {
      background-image: url("../images/home-header-sm.png"); } }
  @media (max-width: 767px) {
    .home-banner {
      height: 396px;
      background-image: url("../images/home-header.png"); } }
  .home-banner .home-banner__info {
    width: 100%;
    text-align: right;
    color: #650300; }
    .home-banner .home-banner__info p {
      font-size: 36px;
      line-height: 1.5;
      font-weight: 400; }
    .home-banner .home-banner__info h2 {
      font-size: 64px;
      line-height: 1.5;
      font-weight: 700; }
    .home-banner .home-banner__info a {
      display: inline-block;
      padding: 6px 12px;
      background-color: #AA0601;
      font-size: 20px;
      line-height: 1.5;
      font-weight: 500; }
    @media (max-width: 767px) {
      .home-banner .home-banner__info p {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400; }
      .home-banner .home-banner__info h2 {
        font-size: 24px;
        line-height: 1.5;
        font-weight: 700; } }

.home-expert {
  background-color: #FBF2F2;
  color: #650300;
  padding-top: 80px;
  padding-bottom: 80px; }
  @media (max-width: 767px) {
    .home-expert {
      padding-top: 40px;
      padding-bottom: 40px; } }
  .home-expert__title {
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 24px;
    text-align: center; }
    @media (max-width: 767px) {
      .home-expert__title {
        font-size: 24px;
        line-height: 36px;
        font-weight: bold;
        margin-bottom: 24px; } }
  .home-expert__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0 24px; }
    @media (max-width: 992px) {
      .home-expert__cards {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        gap: 24px 24px; } }
    @media (max-width: 767px) {
      .home-expert__cards {
        gap: 24px 0; } }
  .home-expert__card {
    width: 25%;
    text-align: center; }
    @media (max-width: 992px) {
      .home-expert__card {
        width: 48%; } }
    @media (max-width: 767px) {
      .home-expert__card {
        width: 100%; } }
    .home-expert__card img {
      width: 100px;
      height: 100px;
      margin-bottom: 16px; }
    .home-expert__card h3 {
      font-size: 24px;
      line-height: 36px;
      font-weight: bold;
      margin-bottom: 8px; }
    .home-expert__card p {
      color: black; }

.home-clasic {
  padding-top: 80px;
  padding-bottom: 80px; }
  @media (max-width: 767px) {
    .home-clasic {
      padding-top: 40px;
      padding-bottom: 40px; } }
  .home-clasic__title {
    font-size: 48px;
    line-height: 1.5;
    font-weight: 400;
    color: #650300;
    text-align: center;
    margin-bottom: 48px; }
    @media (max-width: 767px) {
      .home-clasic__title {
        font-size: 24px;
        line-height: 1.5;
        font-weight: 400;
        margin-bottom: 24px; } }
  .home-clasic__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0 24px;
    text-align: center; }
    @media (max-width: 992px) {
      .home-clasic__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 24px 0; } }
  @media (max-width: 992px) {
    .home-clasic li {
      width: 50%; } }
  @media (max-width: 767px) {
    .home-clasic li {
      width: 100%; } }
  .home-clasic img {
    margin-bottom: 8px; }
  .home-clasic h3 {
    font-size: 48px;
    line-height: 1.5;
    font-weight: 400;
    color: #AA0601; }

.home-partner {
  height: 608px;
  background-image: url("../images/index-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px; }
  @media (max-width: 992px) {
    .home-partner {
      height: 960px;
      background-image: url("../images/index-bg-md.png"); } }
  @media (max-width: 767px) {
    .home-partner {
      height: 820px;
      background-image: url("../images/index-bg-sm.png");
      padding-top: 40px;
      padding-bottom: 40px; } }
  .home-partner__title {
    font-size: 48px;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 48px; }
    @media (max-width: 767px) {
      .home-partner__title {
        font-size: 24px;
        line-height: 1.5;
        font-weight: 700;
        margin-bottom: 24px; } }
  .home-partner__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 767px) {
      .home-partner__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 24px 0; } }
    .home-partner__list li {
      width: 50%; }
      @media (max-width: 992px) {
        .home-partner__list li {
          width: 100%; } }
    .home-partner__list h3 {
      font-size: 48px;
      line-height: 1.5;
      font-weight: 900;
      font-style: italic;
      color: #AA0601;
      padding-top: 8px;
      padding-bottom: 8px;
      background-color: #fff; }
    @media (max-width: 992px) {
      .home-partner__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 24px 0; } }
  .home-partner__photo-1 {
    height: 240px;
    background-image: url("../images/home-section4-1.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
    @media (max-width: 767px) {
      .home-partner__photo-1 {
        background-image: url("../images/home-section4-1-sm.png"); } }
  .home-partner__photo-2 {
    height: 240px;
    background-image: url("../images/home-section4-2.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
    @media (max-width: 767px) {
      .home-partner__photo-2 {
        background-image: url("../images/home-section4-2-sm.png"); } }

.home-recommend {
  padding-top: 80px;
  padding-bottom: 80px; }
  @media (max-width: 767px) {
    .home-recommend {
      padding-top: 40px;
      padding-bottom: 40px; } }
  .home-recommend__title {
    font-size: 48px;
    line-height: 1.5;
    font-weight: 700;
    color: #650300;
    text-align: center;
    margin-bottom: 48px; }
    @media (max-width: 767px) {
      .home-recommend__title {
        font-size: 24px;
        line-height: 1.5;
        font-weight: 700;
        margin-bottom: 24px; } }
  .home-recommend__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0 24px; }
    @media (max-width: 992px) {
      .home-recommend__cards {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        gap: 24px 24px; } }
    @media (max-width: 767px) {
      .home-recommend__cards {
        gap: 16px 0; } }
  .home-recommend__card {
    width: 25%;
    border: 1px solid #DEE2E6;
    border-radius: 4px;
    -webkit-box-shadow: 0px 2px 6px #00000029;
            box-shadow: 0px 2px 6px #00000029; }
    @media (max-width: 992px) {
      .home-recommend__card {
        width: 48%; } }
    @media (max-width: 767px) {
      .home-recommend__card {
        width: 100%; } }
    .home-recommend__card img {
      margin-bottom: 16px; }
  .home-recommend-card-body {
    height: 205px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px; }
    .home-recommend-card-body__title p {
      font-size: 16px;
      line-height: 1.5;
      font-weight: 400;
      color: black;
      text-align: left;
      margin-bottom: 8px; }
    .home-recommend-card-body__title p:first-child {
      font-weight: 500; }
    .home-recommend-card-body__date {
      font-size: 14px;
      line-height: 1.5;
      font-weight: 400;
      margin-bottom: 16px;
      color: black; }

.home-contactus {
  background-color: #FBF2F2;
  color: black;
  padding-top: 80px;
  padding-bottom: 80px; }
  @media (max-width: 767px) {
    .home-contactus {
      padding-top: 40px;
      padding-bottom: 40px; } }
  .home-contactus-grid {
    width: 48%; }
    @media (max-width: 992px) {
      .home-contactus-grid {
        width: 65%; } }
    @media (max-width: 767px) {
      .home-contactus-grid {
        width: 96%; } }
  .home-contactus__title {
    font-size: 48px;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 48px;
    text-align: center;
    color: #650300; }
    @media (max-width: 767px) {
      .home-contactus__title {
        font-size: 24px;
        line-height: 1.5;
        font-weight: 700;
        margin-bottom: 24px; } }
  .home-contactus p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 24px; }
    @media (max-width: 992px) {
      .home-contactus p {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400; } }
  .home-contactus-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400; }
    .home-contactus-form label {
      margin-bottom: 8px; }
    .home-contactus-form input {
      height: 36px;
      margin-bottom: 16px;
      background-color: #FBF2F2; }
    .home-contactus-form textarea {
      margin-bottom: 16px;
      background-color: #FBF2F2; }
    .home-contactus-form input[type=checkbox] {
      background: #FBF2F2;
      width: 22px;
      height: 22px;
      margin: 0 12px 0 0;
      vertical-align: middle;
      position: relative;
      top: -1px; }
      @media (max-width: 767px) {
        .home-contactus-form input[type=checkbox] {
          margin: 0 4px 0 0; } }
    .home-contactus-form ::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.2);
      font-size: 16px;
      line-height: 1.5;
      font-weight: 400;
      padding-left: 12px; }
    .home-contactus-form ::-moz-placeholder {
      color: rgba(0, 0, 0, 0.2);
      font-size: 16px;
      line-height: 1.5;
      font-weight: 400;
      padding-left: 12px; }
    .home-contactus-form :-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.2);
      font-size: 16px;
      line-height: 1.5;
      font-weight: 400;
      padding-left: 12px; }
    .home-contactus-form ::-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.2);
      font-size: 16px;
      line-height: 1.5;
      font-weight: 400;
      padding-left: 12px; }
    .home-contactus-form ::placeholder {
      color: rgba(0, 0, 0, 0.2);
      font-size: 16px;
      line-height: 1.5;
      font-weight: 400;
      padding-left: 12px; }
    .home-contactus-form button {
      display: block;
      width: 60%;
      -ms-flex-item-align: center;
          align-self: center;
      font-size: 16px;
      line-height: 1.5;
      font-weight: 400;
      padding-top: 16px;
      padding-bottom: 16px;
      background-color: #AA0601;
      color: white;
      margin-top: 48px; }
      @media (max-width: 767px) {
        .home-contactus-form button {
          width: 96%;
          margin-top: 24px; } }

/*# sourceMappingURL=all.css.map */
